page-home {

  .home-title{
    color: #4e4e4e;
    font-size: 1.4rem;
    margin-left: 10px;
  }
  .point-icon{
    width: 100%;
    display: block;
    margin: 0 auto;
    font-size: 30px;
  }
  .point-name{
    color: #4e4e4e;
  }
  .point-date{
    color: #4e4e4e;
    font-weight: 300;
  }
}
