<ion-header>
  <ion-navbar color="primary">
    <ion-title>Magna Móvil</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-refresher (ionRefresh)="refreshData($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <h5 class="home-title">Puntos recientes</h5>

  <h6 class="empty" *ngIf="points.length <= 0">No tienes ningún punto creado</h6>

  <div class="points-list mat-elevation-z2">

    <ion-list>

      <ion-item *ngIf="!isWeb"  class="point-item" (click)="goToPoint();">
        <ion-avatar item-start>
          <ion-icon class="point-icon" color="secondary" name="md-locate"></ion-icon>
        </ion-avatar>
        <h2 class="point-name">XXXXXXXXXX</h2>
        <h3 class="point-date">Última actualización el XXXXXXXXXXXXXX</h3>
      </ion-item>

      <ion-item-sliding *ngFor="let point of points; let i = index;">
        <ion-item class="point-item">
          <ion-avatar item-start>
            <ion-icon class="point-icon" color="secondary" name="md-locate"></ion-icon>
          </ion-avatar>
          <h2 class="point-name">{{point?.name}}</h2>
          <h3 class="point-date">Última actualización el {{point?.date}}</h3>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="secondary" (click)="updatePoint(point, i);">
            <ion-icon name="md-brush"></ion-icon>
            Editar
          </button>
          <button ion-button color="primary" (click)="goToPoint(point, i)">
            <ion-icon name="arrow-dropright"></ion-icon>
            Ver
          </button>
        </ion-item-options>

        <ion-item-options side="left">
          <button ion-button color="danger" (click)="deletePoint(point, i);">
            <ion-icon name="md-trash"></ion-icon>
            Eliminar
          </button>
        </ion-item-options>

      </ion-item-sliding>
    </ion-list>
  </div>

  <!--Create new Project-->
  <ion-fab right bottom>
    <button ion-fab mini color="secondary" (click)="createPoint()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab left bottom>
    <button ion-fab mini color="secondary" (click)="deleteDatabase()">
      <ion-icon name="trash"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
